@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";


@layer utilities {
    .padding-x {
        @apply sm:px-16 px-6;
    }
    .padding-y {
        @apply sm:py-16 py-6;
    }
    .padding {
        @apply sm:px-16 sm:py-16 px-6 py-10;
    }
    .margin-x {
        @apply sm:mx-16 mx-0;
    }
    .margin-y {
        @apply sm:my-16 my-0;
    }
    .margin {
        @apply sm:mx-16 sm:my-16 mx-0 my-0;
    }
}

@theme {
    --color-dark:#000000;
    --color-gray:#B6B6B6;
    --color-light:#FFFFFF;
    --color-accent:#82AC66;

    --font-sora: "Sora", sans-serif;
    --font-jetbrains-mono: "JetBrains Mono", monospace;
}

.sora-light, :root {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-gray);
}

:root {
    color-scheme: light;

    color: var(--color-gray);
    background-color: var(--color-dark);

    font-size: 0.9rem;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;

    overflow-x: hidden;
}

html, body {
    background-color: var(--color-dark) !important;
}

@media (min-width: 1800px) {
    :root {
        font-size: 1.2rem;
    }
}

h1 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
    color: var(--color-light);
}

h2 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: var(--color-light);

    padding-top: 4px;
    line-height: 1.1;
}

h3 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    color: var(--color-light);
}



.highlight {
    color: var(--color-accent);
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.mono, h4{
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h4 {
    color: var(--color-light);
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 1.5rem;
}

.clip-triangle-top {
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
}

.clip-triangle-bottom {
    clip-path: polygon(100% 0, 0 100%, 0 0, 100% 0);
}

